@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-custom::-webkit-scrollbar {
  width: 3px;
}

.scroll-custom::-webkit-scrollbar-track {
  background: #e6e6e6;
  border-radius: 10px;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: #ac2525;
  border-radius: 10px;
  border: 3px solid #e6e6e6;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
}
.swiper-pagination .swiper-pagination-bullet {
  padding: 10px;
  opacity: 1;
  background: #9e9e9e;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #ac2525;
}

.progress-toast {
  background: #ac2525;
}

@media only screen and (max-width: 1079px) {
  .swiper-pagination .swiper-pagination-bullet {
    padding: 7px;
  }
  .scroll-custom::-webkit-scrollbar {
    height: 10px;
  }
}
